.searchField {
  position: relative;
}

.searchFieldInput {
  width: 100%;
  padding: 12px;
  color: rgba(38, 38, 38, 0.8);
  outline: none;
  line-height: 1.28;
  letter-spacing: -0.42px;
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
}

.searchFieldInput::placeholder {
  color: rgba(38, 38, 38, 0.5);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.42px;
}

.searchField button {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  top: 12px;
}

.searchFieldBtn {
  right: 12px;
}

.searchFieldIcon {
  width: 18px;
  height: 18px;
  stroke: #262626;
  fill: transparent;
}

.searchFieldClearBtn {
  right: 32px;
}

@media screen and (min-width: 768px) {
  .searchField {
    width: 230px;
  }

  .searchFieldInput {
    padding: 14px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.48px;
  }

  .searchFieldInput::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.48px;
  }

  .searchField button {
    top: 16px;
  }

  .searchFieldBtn {
    right: 14px;
  }

  .searchFieldClearBtn {
    right: 35px;
  }
}
