.passwordWrapper {
  position: relative;
}

.passwordInput {
  width: 100%;
  padding: 12px;
  color: rgba(38, 38, 38, 0.8);
  outline: none;
  line-height: 1.28;
  letter-spacing: -0.42px;
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
}

.passwordInput::placeholder {
  color: rgba(38, 38, 38, 0.5);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.42px;
}

.error {
  border: 1px solid #ef2447;
}

.eyeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 999;
}

.eyeIcon {
  width: 18px;
  height: 18px;
  fill: #f6b83d;
}

.validIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 38px;
  z-index: 999;
}

.validText {
  color: #08aa83;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.3px;
  margin-left: 12px;
}

.errorText {
  color: #ef2447;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.3px;
  margin: 4px 12px;
}

@media screen and (min-width: 768px) {
  .passwordInput {
    padding: 16px;
    line-height: 1.25;
    letter-spacing: -0.48px;
  }

  .passwordInput::placeholder {
    line-height: 1.25;
    letter-spacing: -0.48px;
    font-size: 16px;
  }

  .eyeButton {
    width: 22px;
    height: 22px;
    top: 15px;
    right: 16px;
  }

  .eyeIcon {
    width: 22px;
    height: 22px;
  }

  .validIcon {
    width: 22px;
    height: 22px;
    top: 15px;
    right: 50px;
  }

  .errorText {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.36px;
    margin: 4px 16px;
  }
}
