.news {
  max-width: 375px;
  margin: 0 auto;
  padding: 114px 20px 80px;
}

.newsHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .news {
    max-width: 768px;
    padding: 167px 32px 80px;
  }

  .newsHeader {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .news {
    max-width: 1280px;
    padding: 178px 64px 80px;
  }

  .newsHeader {
    margin-bottom: 60px;
  }
}
