.auth {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}

.authLink {
  font-weight: 700;
  letter-spacing: -0.42px;
  text-transform: uppercase;
  border-radius: 30px;
  width: 178px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authLink.login {
  color: #fff;
  background-color: #f6b83d;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.authLink.login:hover {
  background-color: #fff4df;
  color: #f6b83d;
}

.authLink.register {
  color: #f6b83d;
  background-color: #fff4df;
}

.authLink.register:hover {
  background-color: #fbe7c1;
}

@media screen and (min-width: 768px) {
  .auth {
    flex-direction: row;
  }

  .authLink {
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.48px;
  }

  .authLink.login {
    padding: 15px 35px;
  }

  .authLink.register {
    padding: 15px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .auth {
    margin: 0;
  }
}
