.notices {
  max-width: 375px;
  margin: 0 auto;
  padding: 114px 20px 80px;
}
.noticesTitle {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .notices {
    width: 768px;
    padding: 167px 32px 80px;
  }
  .noticesTitle {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .notices {
    width: 1280px;
    padding: 178px 32px 80px;
  }
  .noticesTitle {
    margin-bottom: 40px;
  }
}
