.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  margin: 0 auto;
}

.homeNav {
  color: #262626;
}

.link {
  letter-spacing: -0.42px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 119px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeNav .link {
  border: 1px solid rgba(38, 38, 38, 0.15);
}

.link:hover {
  border: 1px solid #fff;
}

.homeNav .link:hover {
  border: 1px solid #f6b83d;
}

.active {
  border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  .link {
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    margin-left: 313px;
    flex-direction: row;
    color: #262626;
  }

  .homeNav {
    color: #ffffff;
  }

  .link {
    border: 1px solid rgba(38, 38, 38, 0.15);
    width: auto;
    height: auto;
    padding: 15px 20px;
  }

  .homeNav .link {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .link:hover {
    border: 1px solid #f6b83d;
  }

  .homeNav .link:hover {
    border: 1px solid #ffffff;
  }

  .active {
    border: 1px solid #f6b83d;
  }
}
